[submodule "config/awesome/lain"]
	path = config/awesome/lain
	url = https://github.com/lcpz/lain
[submodule "config/nvim"]
	path = config/nvim
	url = https://github.com/colonelwatch/nvim.git
[submodule "3rdparty/adw-colors"]
	path = 3rdparty/adw-colors
	url = https://github.com/lassekongo83/adw-colors.git
